scrape_configs:
  - job_name: node
    scrape_interval: 15s
    static_configs:
    - targets: ['node-exporter:9100']

  - job_name: 'prometheus'
    scrape_interval: 15s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    scrape_interval: 15s
    static_configs:
      - targets: ['192.168.2.60:9200']