<!DOCTYPE html>
<html>
<head>
    <title>Server Info - {{ ansible_facts['nodename'] }}</title>
</head>
<body>
    <h1>System Information for {{ ansible_facts['nodename'] }}</h1>
    <ul>
        <li><strong>CPU:</strong> {{ ansible_processor[0] }} ({{ ansible_processor_cores }} cores)</li>
        <li><strong>RAM:</strong> {{ ansible_memtotal_mb }} MB</li>
        <li><strong>First HDD:</strong> {{ ansible_facts['devices']['vda']['size'] }}</li>
        <li><strong>IP Address:</strong> {{ ansible_default_ipv4.address }}</li>
    </ul>
</body>
</html>
